body{
    background: rgb(31,1,92);
    background: linear-gradient(90deg, rgba(31,1,92,1) 9%, rgba(84,0,111,1) 44%, rgba(0,202,244,1) 100%);
    margin: 0px;
    font-family: 'Rajdhani', sans-serif; 
    overflow-x: hidden;
    text-transform: uppercase;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: rgba(0,202,244,1);
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px white;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
  box-shadow: 10px 10px 100px black, 5px 5px 100px black inset;
  animation: zoom 2s, float 6s infinite ease-in-out ;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px white;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: white;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
  background: transparent;
}

input[type='text'], [type='email'], select, textarea {
	background: transparent;   
  border: none;
	border-bottom: solid 2px white;
	color: white;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
    scale: 1.05;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  outline: none;
}

select:focus{
    scale: 1.05;
}


.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
  transition: 0.3s;
}

::-webkit-input-placeholder {
	color: white;
}



#form_button {
  background: none;
  border: solid 2px white;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  transition: 0.3s;

}

#form_button:hover {
  background: white;
  color: #0a7aa0;
  scale: 1.1;
  box-shadow: 5px 5px 50px black, 2px 2px 30px inset #0a7aa0  ;
  border-color: #0a7aa0;
}



@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}