.nav {
    height: 70px;
    width: 100%;
    background-color: none;
    position: relative;
    z-index: 999;
    top:0;  
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 40px 0px 0px 0px;
    /* width: 50%; */
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    justify-content: right;
    font-size: 20px;
    padding: 30px 40px 0px 0px;  
    /* opacity: 0.85; */
    z-index: 999;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 12px 30px 13px 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
  }
  
  .nav > .nav-links > a:hover {
    scale: 1.05;
    transition: 0.3s;
    transform: translateX(-5px);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:1000px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 8px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 10px;
      right: 20px;
      transition: 0.3s;
      /* margin-right: 20px; */
      margin-top: 27px;

    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
      border-bottom-left-radius: 30%;  
      border-top-right-radius: 30%;
      box-shadow: 5px 5px 50px #00caf4, 5px 5px 15px black inset;
      transition: 0.3s;
     
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid white;
      /* top: 70px; */
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 250px ;
      /* width: 100vw !important; */
      background-color: #000d33;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      overflow-x: hidden;
      top: 70px;
      right: 0;
      box-shadow: 10px 10px 200px rgb(255, 255, 255), 5px 5px 30px #00caf4 inset;
      border-bottom-left-radius: 30%;
      z-index: 999 !important;
    }
    .nav > .nav-header > .nav-title {
      width: 200px;
    }

    .nav > .nav-links > a {
      display: block;
      width: 100%; 
      opacity: 1;
      padding-left: 80px;
      margin-left: 20px;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
      opacity: 0;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: 350px;
      overflow-y: auto;
    }

    .nav > .nav-links > a:hover{
      border-bottom-left-radius: 20px;
      background-color: #00caf4;
    }
  }

  @keyframes fadein {
    0%{
      opacity:0.6;
      filter: blur(50px);
    }
    25%{
      opacity:1;
      filter:blur(0px);
    }
    50%{
      opacity:0.6;
      filter:blur(80px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
